button,
a, .card {
  cursor: pointer;
}
.dashboard {
    padding-block: 2em;
  --space-lr: 24px;
  --gap: 16px;
  --gap-row: 16px;
  --cols: 1;
  grid-template-columns: repeat(var(--cols), 1fr);
  // grid-template-rows: repeat(12, 1fr);
  gap: var(--gap);
  padding-inline: var(--space-lr);
  flex: 1;
}
.dashboard-top {
  flex-direction: column;
  grid-row: 1;
}
.section-divider {
  width: 100%;
  height: 2px;
  display: block;
  background: hsl(var(--text-light) / .3);
}
.left-side,
.right-side {
  align-self: stretch;
}
//theme-toggle component
button:focus,
a:focus {
    outline: 2px solid rgb(97, 97, 215);
}
.theme-toggle {
  position: relative;
  background: var(--toogle-bg);
  padding: .2em;
  width: 40px;
  border-radius: 20px;
  align-content: center;
  border: none;
  isolation: isolate;
}
.theme-toggle::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 33.6px;
  height: 12.933px;
  background: var(--toogle-bg-dark);
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%);
}

.theme-toggle.active {
  background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.theme-toggle.active .toggle-slider {
  animation: slide_back 0.3s ease-in-out forwards;
  transform: translate(0px);
}
@keyframes slide_back {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-20px);
  }
}
.theme-toggle.disabled {
  background: var(--toogle-bg);
}
.theme-toggle.disabled .toggle-slider {
  animation: slide_forward 0.3s ease-in-out forwards;
}
@keyframes slide_forward {
  0% {
    transform: translate(-20px);
  }
  100% {
    transform: translate(0);
  }
}
.toggle-slider {
  display: block;
  background: hsl(var(--bg-color));
  width: 14px;
  float: right;
  aspect-ratio: 1;
  border-radius: 50%;
}
//card component
.card {
  background: hsl(var(--card-bg));

  padding: 1em;
  border-radius: 6px;
}
.card:hover {
    background: hsl(var(--card-light));
}
.card.card-1 {
  --top-strip: var(--facebook);
  border-top: 4px solid hsl(var(--top-strip));
}
.card.card-2 {
  --top-strip: var(--twitter);
  border-top: 4px solid hsl(var(--top-strip));
}
.card.card-3 {
  --top-strip: var(--instagram);
  border-top: 4px solid hsl(var(--top-strip));
}
.card.card-4 {
  --top-strip: var(--youtube);
  border-top: 4px solid hsl(var(--top-strip));
}

.followers-count {
  font-size: var(--fz-large);
  margin: 0;
}
.follower-label {
  text-transform: uppercase;
}
.current-timeline {
  color: var(--green);
}

.count {
  font-size: 1.8rem;
  margin: 0;
}

@media screen and (min-width: 37.5em) {
  .dashboard {
    --cols: 8;
    --gap-col: 16px;
    --space-lr: 32px;
    gap: var(--gap-col);
  }
  .dashboard-top {
    flex-direction: row;
  }
  .section-divider {
    display: none;
  }
  .left-side,
  .right-side {
    align-self: unset;
  }
  .card.card-1 {
    grid-column: 1 / 5;
    grid-row: 2;
  }
  .card.card-2 {
    grid-column: 5 / -1;
    grid-row: 2;
  }
  .card.card-3 {
    grid-column: 1 / 5;
    grid-row: 3;
  }
  .card.card-4 {
    grid-column: 5 / 9;
    grid-row: 3;
  }
  .overview-title {
    grid-row: 4;
  }
  .card.card-small-1 {
    grid-row: 5;
    grid-column: 1 / 5;
  }
  .card.card-small-2 {
    grid-row: 5;
    grid-column: 5 / 9;
  }
  .card.card-small-3 {
    grid-row: 6;
    grid-column: 1 / 5;
  }
  .card.card-small-4 {
    grid-row: 6;
    grid-column: 5 / 9;
  }
  .card.card-small-5 {
    grid-row: 7;
    grid-column: 1 / 5;
  }
  .card.card-small-6 {
    grid-row: 7;
    grid-column: 5 / 9;
  }
  .card.card-small-7 {
    grid-row: 8;
    grid-column: 1 / 5;
  }
  .card.card-small-8 {
    grid-row: 8;
    grid-column: 5 / 9;
  }
}
@media screen and (min-width: 61.25em) {
  .dashboard {
    --cols: 12;
    --gap: 24px;
    --space-lr: 100px;
    gap: var(--gap);
  }

  .card.card-1 {
    grid-column: 1 / 4;
    // grid-row: 2;
  }
  .card.card-2 {
    // grid-row: 2;
    grid-column: 4 / 7;
  }
  .card.card-3 {
    grid-row: 2;
    grid-column: 7 / 10;
  }
  .card.card-4 {
    grid-row: 2;
    grid-column: 10 / 13;
  }
  .overview-title {
    grid-row: 3;
  }
  .card.card-small-1 {
    grid-row: 4;
    grid-column: 1 / 4;
  }
  .card.card-small-2 {
    grid-row: 4;
    grid-column: 4 / 7;
  }
  .card.card-small-3 {
    grid-row: 4;
    grid-column: 7 / 10;
  }
  .card.card-small-4 {
    grid-row: 4;
    grid-column: 10 / 13;
  }
  .card.card-small-5 {
    grid-row: 5;
    grid-column: 1 / 4;
  }
  .card.card-small-6 {
    grid-row: 5;
    grid-column: 4 / 7;
  }
  .card.card-small-7 {
    grid-row: 5;
    grid-column: 7 / 10;
  }
  .card.card-small-8 {
    grid-row: 5;
    grid-column: 10 / 13;
  }
}
@media screen and (min-width: 90em){
    .dashboard {
        --space-lr: 120px;
    }
    
}

