button,a {
    cursor: pointer;
}
.dashboard {
    --space-lr: 24px;
    --gap-col: 16px;
    --gap-row:2 16px;
    --cols: 1;
    grid-template-columns: repeat(var(--cols), 1fr);
    // grid-template-rows: repeat(12, 1fr);
    gap: var(--gap-col), var(--gap-row);
    padding-inline: var(--space-lr);
    flex: 1;

}
.dashboard-top {
    flex-direction: column;
    grid-row: 1;
}
.section-divider {
    width: 100%;
    height: 2px;
    display: block;
    background: hsl(230, 22%, 74%);
}
.left-side,.right-side {
 align-self: stretch;
}
//theme-toggle component
.theme-toggle {
position: relative;
    background: var(--toogle-bg);
    width: 40px;
     padding: .2em;
    border-radius: 20px;
    align-content: center;
    border: none;  
    isolation: isolate;
}
.theme-toggle::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 33.6px;
    height: 12.933px;
    background: var(--toogle-bg-dark);
    border-radius: 20px;
    left: 50%;
    transform: translate(-50%);

}
.theme-toggle.active {
 background: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
    
}

.theme-toggle.active .toggle-slider {
    animation: slide_back .3s ease-in-out  forwards;
    
}
@keyframes slide_back {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translate(-20px);
    }
    
}
.theme-toggle.disabled {
    background: var(--toogle-bg);
    
    }
    .theme-toggle.disabled .toggle-slider {
        animation: slide_forward .3s ease-in-out  forwards;
    }
@keyframes slide_forward {
    0% {
        transform: translate(-20px);
    }
    100% {
        transform: translate(0);
    }
    
}
.toggle-slider {
    display: block;
    background: hsl(var(--bg-color));
    width: 14px;
    float: right;
    aspect-ratio: 1;
    border-radius: 50%;
}
//card component
.card {
    background: hsl(var(--card-bg));
    width: 17rem;
    // padding:0 .1em .1em .1em;
    padding: 1em;
    border-radius: 6px;

}
.card.card-big {
    --top-strip:  hsl(var(--facebook));
    border-top: 4px solid var(--top-strip);
}
.followers-count {
    font-size: var( --fz-large) ;
  margin: 0;
}
.follower-label {
    text-transform: uppercase;
}
.current-timeline {
    color: var(--green);
}
.card.card-small {
    margin-top: 1rem;
}
.count {
    font-size: 1.8rem;
    margin: 0;
}




@media  screen and (min-width: 37.5em) {
    .dashboard {
        --cols: 8;
        --gap-col: 32px;
        --space-lr: 32px;

    }
    .dashboard-top {
        flex-direction: row;
    }
    .section-divider {
        display: none;
    }
    .left-side,.right-side {
        align-self: unset;
       }
 
    
}
@media  screen and (min-width: 61.25em) {
    .dashboard {
        --cols: 12;
        --gap-col: 64px;
        --space-lr: 120px;
    }

    
}
